.films {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.card-body-stars {
  box-shadow: 2px 1px 6px 2px #968f89;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 400px;
  height: 150px;
  border: 1px solid #000000;
  margin: 20px;
  padding: 15px;
  list-style: none;
}

.card-body-stars::before {
  width: 100%;
  font-size: 14px;
  content: 'Фильм';
}

.card-body-stars li {
  position: relative;
  margin-top: 70px;
}